*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Poppins';
    --ff-secondary: ;

    --clr-dark: rgb(26, 26, 27);
    --clr-light: rgba(239, 240, 242, 1);
    --clr-accent: rgb(59, 115, 226);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: var(--clr-dark);
    position: fixed;
    top: 0;
    width: 100%;
}

.navRight {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: var(--clr-light);
}

.user,
.cart {
    padding: 5px;
    font-size: 1.125rem;
    cursor: pointer;
}

.user:hover,
.cart:hover {
    transform: scale(0.97);

}


.navRight a{
    color: var(--clr-light);
}

.navLeft {

    font-family: var(--ff-primary);
    padding: 1rem;
    font-size: 0.75rem;
}

.navLeft a {
    text-decoration: none;
    color: var(--clr-light);
}

.cartItems {
    height: 1rem;
    width: 1rem;
    background-color: red;
    position: relative;
    left: -10px;
    top: -5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
}


h4 {
    margin-left: 20px;
    margin-top: 30px;
    font-family: var(--ff-primary);
    font-size: 1.125rem;
}

h2 {
    margin-top: 20px;
    padding-top: 20px;
    font-family: var(--ff-primary);
    font-size: 1.5rem;
}

p {
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: 500;
}

div {
    align-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.itemCardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.itemImage {
    height: 20vh;
    width: auto;
}

.addItemBtn {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    font-family: var(--ff-primary);
    font-size: 0.75rem;
}

.addItemBtn:hover {
    background-color: rgb(119, 164, 255);
    transform: scale(0.97);
}

.square {
    position: fixed;
    top: 8%;
    right: 2%;
    width: 350px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.074);
    border: 3px solid rgba(169, 169, 169, 0.081);
    display: flex;
    justify-content: center;
    display: none;
    margin: 0.75rem;
    padding: 0.75rem;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.userName {
    display: block;
    width: 95%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.userPassword {
    display: block;
    width: 95%;
    padding: 0.75rem;
    margin: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.createUsername {
    display: block;
    width: 95%;
    padding: 0.75rem;
    margin: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.createPassword {
    display: block;
    width: 95%;
    padding: 0.75rem;
    margin: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}


.userPassword:focus, 
.userName:focus {
        border-color: var(--color-primary);
        background: #ffffff;
    }

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    width: 95%;
    height: 3rem;
    padding: 1rem 1rem;
    margin: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    border:none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

.buttons button:active {
    transform: scale(0.98);
}


.buttons button:hover{
    background-color: rgb(119, 164, 255);
}

.errorMessage,
.errorMessage p {
    text-align: center;
    margin-bottom: 0.75rem;
    margin-top: 0.8rem;
    color: var(--color-error);
    font-size: 0.75rem;
    color: #ca484c;
}

/*  ------ KUNDVAGN ------*/
.cartTitleDiv {
    display: flex;
    align-content: center;
    margin-top: 80px;
    justify-content: center;

}

.cartTitle{
    font-family: var(--ff-primary);
    font-size: 2rem;

}

.cartItemDiv {
    padding: 1em;
    margin-bottom: 1rem;
}

.cartContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cartItemTitle{
    font-family: var(--ff-primary);
    font-size: 1rem;
}

.cartItemImg {
    max-height: 90px;
}

.cartItemPrice{
    padding-right: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.deleteButton{
    background-color: #ca484c;
    color: var(--clr-light);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: var(--ff-primary);
    font-size: 0.75rem;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: rgb(119, 164, 255);
    transform: scale(0.97);
}

.totalPriceText{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;

}

.checkOutDiv {
    margin-bottom: 5rem;
}

.checkOutButton {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: none;
    border-radius: 10px;
    font-family: var(--ff-primary);
    font-size: 0.75rem;
    cursor: pointer;
}